body{
	font-size:25px;
	font-family: Verdana, Calibri, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image:-webkit-linear-gradient(270deg, white 0%, rgb(32, 78, 232) 100%);
    background-image: linear-gradient(180deg, white 0%, rgb(32, 78, 232) 100%);
	
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-image: linear-gradient(180deg, white 0%, rgb(32, 78, 232) 100%);
    position: fixed;
    height: 100%;
    overflow: auto;
	width:15%;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: rgb(32, 78, 232);
    color: white;
}
 
ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
li{
	border-top: 1px solid #bbb;
	position:right;
}

li:last-child {
    border-top: none;
	
} 

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}
p.centre {
	text-align:center;
	border-radius: 10px;
	vertical-align: middle;
	box-shadow: 6px 6px 12px 0 rgba(0,0,0,0.6);
	background-color:RGBa(241, 211, 79, 0.15);
	
}
img {
	position:auto;
	width:100%;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
article {
	margin: 0.25%;
    padding: 0.25%;
 	float: right;
	width: 79%;
	background-color: #90AA90;
	border-radius: 10px;
	vertical-align: middle;
	box-shadow: 6px 6px 12px 0 rgba(0,0,0,0.6);
}

section {
	
	margin: 0.5%;
    padding: 0.25%;
 	float: right;
	width: 100%;
	background-color: RGBa(241, 211, 79, 0.15);
	vertical-align: middle;
	text-align:center;
}
section>table {
	position:relative;
	text-align:center;
	height:200px;
	width:800px;
	border-radius: 10px;
	vertical-align: middle;
	box-shadow: 6px 6px 12px 0 rgba(0,0,0,0.6);
}
section>ul>li {
	list-style-type:none;
	text-align:center;
	font-size-adjust:auto;
}
